{{!
navigation bar for RateStuff pages
}}

<h1 class="page-title">RateStuff</h1>

<nav class="navbar">
	<ul class="navs">
		<li class="navbutton"><a class="navlink" href="/">Home</a></li>
		<li class="navbutton"><a class="navlink" href="/people">List of People</a></li>
	</ul>
</nav>