{{!
navigation bar for RateStuff pages
}}

<h1>RateStuff</h1>

<nav class="navbar">
	<ul class="navs"
		<li class="navbutton"><a href="/">Home</a></li>
		<li class="navbutton"><a href="/people">List of People</a></li>
	</ul>
</nav>