{{!
Handlebars partial for RateStuff home page
}}

<h2 class="home-header">Welcome to RateStuff</h2>

<p class="home-description">Visit another user's page to look at their ratings or add some of your own!</p>

{{! >newRating}}