{{!
Handlebars partial for RateStuff home page
}}

<h2 class="home-header">Welcome to RateStuff, where you can rate anything and everything.</h2>
<h3 class="home-description">Visit another user's page to look at their ratings or add some of your own!</h2>

{{>newRating}}

{{>newRatingModal}}