{{!
Page with ratings of titles
}}

<h2 id="ratings-title">Ratings of {{name}}</h2>
	
<ul class="rating-list">

	{{#each ratings}}

		<li class="rating-item">{{>rating}}</li>

	{{/each}}
</ul>

{{>newRating}}

{{>newRatingModal}}